@import "Var/variable";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
// swipper
.swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    // height: 400px;
  }


// Menu Icon transform start
  
  label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    // position: fixed;
  }
  
  .bar {
    display: block;
    background-color: #000000;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .2s ease-in, transform .2s ease-in, width .2s ease-in;
  }
  
  .content {
    top: 0;
    bottom: 0;
    // position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    transition: transform .3s ease-in-out;
  }
   
  .asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
  }
  .asideAnchor {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .2s .15s ease-in;
  }
  
  .asideAnchor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .2s ease-in;
    z-index: -1;
  }
  
  .asideAnchor:hover {
    color: #000000;
  }
  
  .asideAnchor:hover::after {
    width: 100%;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
  }
  
  input[type="checkbox"]:checked ~ label .bar {
    background-color: #000000;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  .ua {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #000000;
    font-size: 2em;
    z-index: 2;
  }

  .menuicon {
    z-index: 100;
  }
  
// Menu Icon transform end

div.navtop {
    width: 100%;
    height: 80px;
    
    >header {
        width: inherit;
        height: inherit;
        >nav{
            position: fixed;
            width: inherit;
            height: inherit;
            background-color: #fff;
            z-index: 99;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between ;
            border-bottom: 1px solid rgba(128, 128, 128, 0.229);
            >div.bluebar {
                background-color: #008492da;
                width: 100%;
                height: 50px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                >div:nth-child(2){
                    color: white;
                    font-family: ori2;
                    font-size: 14px;
                }
                >div:nth-child(3){
                    color: white;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    padding-right: 10px;
                    cursor: pointer;
                    >p{
                        line-height: 50px;
                        font-size: 50px;
                    }
                }

            }
            >div.navleft {
                width: 25%;
                height: inherit;
                // background-color: aquamarine;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                >div.menuicon {
                    display: block;
                }
                >div.navuser {
                    display: block;
                    color: #555555;
                }
                >a{
                    font-family: Ori2;
                    color: #333333;
                    &:hover{
                        color: #7C7C7C;
                    }
                }
            }
            
            >div.navcenter {
                width: 30%;
                height: inherit;
                // background-color: aquamarine;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            >div.navright {
                width: 25%;
                height: inherit;
                // background-color: aquamarine;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10%;
                padding-right: 50px;
                
                >div.searchbar {
                    width: 250px;
                    background-color: rgb(247, 247, 247);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    padding: 10px 25px;
                    >input {
                        border: unset;
                        outline: unset;
                        background-color: transparent;
                        border-style: none;
                        margin-left: 10px;
                        font-family: Ori4;
                        font-size: 15px;

                    }
                }

                div.shoppingbag {
                    >span {
                        font-size: 25px;
                        cursor: pointer;
                        display: block;
                        height: 80px;
                        width: 50px;
                        line-height: 80px;
                        padding-left: 15px;
                        color: #555555;

                        >div{
                            display: none;
                        }
                        &:hover>div {
                            display: block;
                        }
                    }
                }
            }
            
        }
    }

}
.showbag{
    opacity: 1;
    transition: 100ms;
}
div.bagmenu{
    // opacity: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #7c7c7c6c;
    position: absolute;
    left: 0;
    z-index: 96;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    transition: 100ms;
    
    >div.bagmenuright{
        width: 450px;
        height: calc(100vh - 80px);
        background-color: #fff;
        box-shadow: -1px 5px 10px rgb(71, 71, 71);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        >div {
            line-height: normal;
            text-align: center;
            >p:nth-of-type(1){
                font-size: 20px;
                font-family: Ori2;
            }
            >p:nth-of-type(2){
                font-family: Ori4;
                font-size: 14px;
            }
        }
        >a:nth-of-type(1){
            color: #000000;
            font-size: 25px;
            font-family: Ori2;
            display: block;
            width: 100%;
            &:hover {
                color: rgba(0, 180, 87, 0.6);
            }
            
        }
        >a:nth-of-type(2){
            color: #fff;
            font-family: Ori2;
            display: block;
            padding: 0;
            width: 100%;
            line-height: normal;
            padding: 10px;
            font-size: 14px;
            text-align: center;
            background-color: rgba(0, 180, 87, 0.6);
            border-radius: 25px;
            transition:500ms ;
            &:hover{
                scale: 1.02;
                transition:500ms ;
            }
        }
        
    }
}

.show{
    display: block !important;
}
.hide{
    display: none !important;
}
#usericon {
    cursor: pointer;
    font-size: 20px;
}
div.menublur {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background-color: #7c7c7c6c;
    position: fixed;
    top: 80px;
}
#bebel {
    width: 90vw;
}

div.menu{
    width: 100%;
    height: calc(100vh - 180px);
    background-color: white;
    // display: none;
    position: fixed;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05) ;
    z-index: 99;
}
div.menulist {
    width:300px;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
    >ul{
        >li{
            padding: 3px;
            font-family: ori2;
            font-size: 17px;
            margin-bottom:5px ;
            margin-left: 1px;
            padding-left: 25px;
            color: #333333;
            cursor: pointer;
            
            &:hover{
                background-color: rgb(248, 248, 248);
            }
        }
        >li:nth-of-type(2),li:nth-of-type(3){
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(4){
            border-left: 5px solid #91E7E3;
            &:hover{
                background-color: #91e7e330 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(5){
            border-left: 5px solid #E793B7;
            &:hover{
                background-color: #E793B730 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(6){
            border-left: 5px solid #B6ADA5;
            &:hover{
                background-color: #B6ADA530 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(7){
            border-left: 5px solid #2774AE;
            &:hover{
                background-color: #2774AE30 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(8){
            border-left: 5px solid #F0C264;
            &:hover{
                background-color: #F0C26430 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(9){
            border-left: 5px solid #FF8072;
            &:hover{
                background-color: #FF807230 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(10){
            border-left: 5px solid #685BC7;
            &:hover{
                background-color: #685BC730 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(11){
            border-left: 5px solid #007681;
            &:hover{
                background-color: #00768130 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        >li:nth-of-type(12){
            border-left: 5px solid #7ED1EA;
            &:hover{
                background-color: #7ED1EA30 ;
            }
            &:hover>div.menunon{
                display: block;
            }
        }
        
    }
}

div.menunon {
    display: none;

    >div.menucontent1{
        position: absolute;
        width: calc(100% - 300px);
        height: calc(100vh - 185px);
        // background-color: #007681;
        right: 0;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        
        >div{
            text-align: center;
            >a:nth-of-type(1){
                color: #232323;
                &:hover {
                    color: #6f6f6f;
                }
            }
            >p{
                font-family: Ori4;
                font-size: 14px;
                color: #6f6f6f
            }
        }
        
        >a:nth-of-type(1){
            text-align: center;
            >img{
                width: 40%;
                border-radius: 10px;
                &:hover{
                    filter: brightness(75%);
                }
                
            }
        }
        >a:nth-of-type(2){
            color: #232323;
            border-bottom: 2px solid black;
            font-family: ori2;
        }
    }
    >div.menucontent{
        position: absolute;
        width: calc(100% - 300px);
        height: calc(100vh - 185px);
        background-color: #fff;
        right: 0;
        top: 0;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
        gap: 5px;
        >div{
            padding: 20px;
            display: flex;
            flex-flow: column wrap;
            gap: 30px;
            font-size: 14px;

            >div:nth-of-type(1) {
                >Ul {
                    
                    font-family: ori2;
                    
                    >li {
                        font-family: ori4;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: #6e6e6e;
                        &:hover {
                            font-weight: 800;
                        }
                    }
                    >li:nth-of-type(1){
                        color: #232323;
                        &:hover {
                            color: #6e6e6e;
                        }
                    }
                    
                }
            }

            >div.submenutitle {
                >h3 {
                    display: inline;
                    font-family: ori4;
                }
                &:hover>h3 {
                    color: #6e6e6e;
                }
            }

            >div:nth-of-type(2),div:nth-of-type(3),div:nth-of-type(4) {
                >Ul {
                    
                    font-family: ori2;
                    
                    >li {
                        font-family: ori4;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: #6e6e6e;
                        &:hover {
                            font-weight: 800;
                        }
                    }
                    >li:nth-of-type(1){
                        color: #232323;
                        &:hover {
                            color: #6e6e6e;
                        }
                    }
                    
                }
            }
        }
    }
}
div.editorials {
    position: relative;
    >a{
        >img{
            width: 200px;
            &:hover{
                filter: brightness(75%);
            }
        }

        >span{
            position: absolute;
            top: 50%;
            right: 25%;
            color: white;
        }
    }
}

div.signblur{
    display: none;
    background-color: #7c7c7c6c;
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    z-index: 96;
    >div{
        display: flex;
        justify-content: left;
        align-items: center;
        >div.signin{
            background-color: #fff;
            width: 18%;
            height: calc(100vh - 80px);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-family: Ori4;
            z-index: 97;
            >div:nth-of-type(1){
                width: 100%;
                text-align: left;
                font-size: 10px;
                >label {
                    display: block;
                    text-align: left;
                }
                >input{
                    display: block;
                    width: 85%;
                    margin: auto;
                    border: unset;
                    outline: unset;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.215);
                }
            }
            >a:nth-of-type(1) {
                display: block;
                background-color: rgba(0, 180, 87, 0.6);
                width: 90%;
                border-radius: 25px;
                color: white;
                text-align: center;
                padding: 5px;
                transition: 200ms;

                &:hover {
                    background-color: rgba(0, 123, 59, 0.6);
                    transition: 200ms;

                }
            }
            >a:nth-of-type(2) {
                text-decoration: underline;
                color: #000000;
                font-size: 14px;
            }
            >a:nth-of-type(3){
                width: 80%;
                padding: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;
                border-radius: 25px;
                box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.205);
                color: #000000;
                font-size: 13px;
                >span{
                    color: rgb(0, 110, 255);
                    font-size: 20px;
                }
            }
            >p{
                font-weight: 800;
                color: #555555;
                font-size: larger;
                margin: 5px;
            }
            >a:nth-of-type(4){
                display: block;
                background-color: #f7f7f7;
                color: #555555;                
                width: 100%;
                text-align: center;
                padding: 10px;
                transition: 200ms;
                font-weight: 800;
                &:hover {
                    background-color: #f1f1f1;
                    transition: 200ms;
                }
            }
            >a:nth-of-type(5){
                display: block;
                background-color: #f7f7f7;
                color: #555555;                
                width: 100%;
                text-align: center;
                padding: 10px;
                transition: 200ms;
                font-weight: 800;
                &:hover {
                    background-color: #f1f1f1;
                    transition: 200ms;
                }
            }
            >a:nth-of-type(6) {
                text-decoration: underline;
                color: #3a3a3a;
                font-size: 10px;
                font-weight: 800;
            }
        }
    }
}

#bluebar {
    z-index: 5;
}

div.underswiper {
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    border-bottom:5px solid #F5F5F5;
    >div{
        width: inherit;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        >a{
            font-family: Ori2;
            font-size: 12px;
            font-weight: 800;
            cursor: pointer;
            color: #555555;
            transition:300ms;
            &:hover {
                color: #777;
                transition: 300ms;
            }
        }
        
    }
}

div.whatsnew {
    width: 100%;
    margin-top: 30px;
    padding: 60px;
    // background-color: beige;
    >div.whatsnew-top{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        >div:nth-of-type(1){
                        padding: 35px;
        }
        >div:nth-of-type(2){
            font-size: 40px;
            text-align: center;
            font-family: Ori2;
        }
        >div:nth-of-type(3){
            >a {
                background-color: white;
                display: block;
                padding: 10px 20px;
                border: 1px solid black;
                border-radius: 30px;
                color: black;
                font-family: ori2;
                transition: 200ms;
                &:hover {
                    background-color: #f3f3f3;
                    transition: 200ms;
                    
                }
            }
        }
    }
    >div.whatsnew-bot {
        width: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        
        >div.whatsnew-left{
            width: 35%;
            display: inline-block;
            position: relative;
            >img {
                width: 100%;
                border-radius: 10px;
            }
            >a{
                position: absolute;
                bottom: 10%;
                left: 30%;
                color: #fff;
                font-family: Ori2;
                background-color: #869c8c;
                border-radius: 20px;
                transition: 300ms;
                display: block;
                width: 40%;
                text-align: center;
                padding: 10px;

                &:hover{
                    background-color: #869c8c66;
                    transition: 300ms;
                }
            }
        }
        >div.whatsnew-right{
            width: 55%;
            height: 100%;
            >div{
                display: flex;
                justify-content: center;
                column-gap: 10px;
                >div.oriflame-product-card{
                    width: 30%;
                    cursor: pointer;
                        >div:nth-of-type(1){
                            width: 100%;
                            border-radius: 5px;
                            background-color: #F4F4F4;
                            position: relative;
                            margin-bottom: 5px;
                            &:hover>img{
                                scale: 1.1;
                                transition: 500ms;
                            }
                            >img{
                               width: 100%;
                               transition: 500ms;
                            }
                            >span{
                                display: block;
                                position: absolute;
                                right: 10%;
                                bottom: 10%;
                                box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.355) ;
                                border-radius: 50%;
                                padding: 12px;
                                background-color: white;
                            }
                        }
                        >div:nth-of-type(2){
                            font-family: ori4;
                            font-size: 14px;
                            >p:nth-of-type(1){
                                font-size: 12px;
                            }
                            >span:nth-of-type(2) {
                                text-decoration: line-through;
                                color: #888;
                            }
                        }
                }
            }
        }

        
    }
}

.oriflame-product-card{
    width: 30%;
    cursor: pointer;
        >div:nth-of-type(1){
            width: 100%;
            border-radius: 5px;
            background-color: #F4F4F4;
            position: relative;
            margin-bottom: 5px;
            &:hover>img{
                scale: 1.1;
                transition: 500ms;
            }
            >img{
               width: 100%;
               transition: 500ms;
            }
            >span{
                display: block;
                position: absolute;
                right: 10%;
                bottom: 10%;
                box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.355) ;
                border-radius: 50%;
                padding: 12px;
                background-color: white;
            }
        }
        >div:nth-of-type(2){
            font-family: ori4;
            font-size: 14px;
            >p:nth-of-type(1){
                font-size: 12px;
            }
            >span:nth-of-type(2) {
                text-decoration: line-through;
                color: #888;
            }
        }
}

div.bestoffersleft-bottom{
    margin-top: 20px;
    >div{
        display: flex;
        justify-content: center;
        column-gap: 10px;
        // align-items: center;
        >div.oriflame-product-card{
            width: 30%;
            cursor: pointer;
                >div:nth-of-type(1){
                    width: 100%;
                    border-radius: 5px;
                    background-color: #F4F4F4;
                    position: relative;
                    margin-bottom: 5px;
                    &:hover>img{
                        scale: 1.1;
                        transition: 500ms;
                    }
                    >img{
                       width: 100%;
                       transition: 500ms;
                    }
                    >span{
                        display: block;
                        position: absolute;
                        right: 10%;
                        bottom: 10%;
                        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.355) ;
                        border-radius: 50%;
                        padding: 12px;
                        background-color: white;
                    }
                }
                >div:nth-of-type(2){
                    font-family: ori4;
                    font-size: 14px;
                    >p:nth-of-type(1){
                        font-size: 12px;
                    }
                    >span:nth-of-type(2) {
                        text-decoration: line-through;
                        color: #888;
                    }
                }
        }
        
    }
}                

div.bestoffers {
    width: 100%;
    margin-top: 30px;
    padding: 60px;
    display: flex;
    position: relative;
    justify-content: center;
    column-gap: 10px;
    overflow: hidden;

    >div.purpcirc
    {
        background-color: #F0EFFC;
        width: 400px;
        height: 400px;
        position: absolute;
        border-radius: 50%;
        top: 0;
        right: -50px;
        z-index: -1;
        
    }

    >div.bestoffersleft{
        width: 70%;
        // background-color: red;
        padding: 20px;

        >div.bestoffersleft-top {
        display: flex;
            >a{
                background-color: white;
                padding: 10px 20px;
                border: 1px solid black;
                border-radius: 30px;
                color: black;
                font-family: ori2;
                transition: 200ms;
                &:hover {
                    background-color: #f3f3f3;
                    transition: 200ms;
                }
            }
            >h2{
                position: absolute;
                left: 44%;
                font-size: 40px;
                font-family: ori2;
            }
        }
    }
    >div.bestoffersright{
        width: 20%;
        // background-color: blue;
        position: relative;
        >img{
            width: 100%;
            border-radius: 10px;
        }
        >p{
            font-family: Ori3;
            text-align: center;
            position: absolute;
            bottom: 25%;
            left: 30%;
            font-size: 25px;
            color: white;
        }
        >a{
            position: absolute;
                bottom: 10%;
                left: 30%;
                color: #fff;
                font-family: Ori2;
                background-color: #75595b;
                border-radius: 20px;
                transition: 300ms;
                display: block;
                width: 40%;
                text-align: center;
                padding: 10px;

                &:hover{
                    background-color: #DDA4A9;
                    transition: 300ms;
                }
        }
    }
}

div.shopoffer50{
    display: grid;
    grid-template-columns: 700px 1fr;
    width: 100%;
    padding: 100px;
    position: relative;
    overflow: hidden;

    >div{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        position: relative;

        >img{
            width: 100%;
        }
        >p.collage{
            font-family: ori3;
            font-size: 30px;
            color: #808080;
            position: absolute;
            bottom: 10%;
            left: 20%;
        }
    }
    >div:nth-of-type(2){
        width: 100%;
        background-color: #F5F5F5;
        display: flex;
        flex-flow: column nowrap;
        padding: 10%;
        overflow: hidden;
        >h2{
            font-size: 39px;
            font-family: ori2;
            margin: 5px;
            color: #333333;
        }
        >p{
            margin: 5px;
            font-family: ori4;
            font-size: 14px;
            color: #747474;
        }
        >a{
                margin: 5px;
                width: 150px;
                display: block;
                padding: 10px 20px;
                border: 1px solid black;
                border-radius: 30px;
                color: black;
                font-family: ori2;
                transition: 200ms;
                &:hover {
                    background-color: #f3f3f3;
                    transition: 200ms;
                    
                }
        }
    }
    >div:nth-of-type(3){
        background-color: #F0EFFC;
        width: 400px;
        height: 400px;
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        left: -100px;
        z-index: -1;
        
    }
}

a.globalbutton{
    margin: 5px;
    width: 150px;
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    color: black;
    font-family: ori2;
    transition: 200ms;
        &:hover {
            background-color: #f3f3f3;
            transition: 200ms;           
        }
}

div.globalbutton{
    display: flex;
        justify-content: center;
        margin: 50px;
        >a{
            width: auto;
        }
}

div.wellness{
    width: 100%;
    margin-top: 30px;
    >div.wellnesstop {
        display: grid;
        grid-template-columns: 75% 25%;
        justify-content: center;
        >div:nth-of-type(1){
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
            align-items: start;
            // background-color: green;
            font-size: 14px;
            >div{
                width: 700px;
                text-align: center;
                padding: 0 20px;
                >h2{
                    font-size: 40px;
                    font-family: ori2;
                    padding: 20px;
                    color: #333333;
                }
                >p{
                    font-size: 16px;
                    color: #747474 ;
                    padding: 0 20px;
                }
            }    
        }
        >div:nth-of-type(2){
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            // background-color: yellow;
            padding: 20px;
            >a{

            }
        }
    }
    >div.wellnessbot{
        width: inherit;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 20px;

        >div.wellnessbot-left{
            width: 40%;
            position: relative;
            // background-color: #007681;
            >img{
                width: 100%;
                border-radius: 15px;
            }
            >p{
                position: absolute;
                bottom: 10%;
                left: 20%;
                font-size: 30px;
                font-family: ori3;
            }
        }
        >div.wellnessbot-right{
            width: 55%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: start;
            // background-color: #2774AE;
            // padding: 10px;
            >div{
                width: 30%;
                margin: 0 5px;
            }
        }
    }
}

div.beauty{
    width: 100%;
    margin-top: 30px;
    padding: 60px;
    >div.beautytop{
        width: inherit;
        // text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        >div{
            width: 600px;
            >img{
                display: block;
                margin: auto;
            }
            >p{
                color: #565656;
                font-family: ori4;
                text-align: center;
                font-size: 14px;
                margin: 20px;
            }
        }
    }
    >div.beautybot{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        >div{
            width: 500px;
            margin: 15px;
            margin-bottom: 40px;
            cursor: pointer;
            position: relative;
            >img{
                width: 100%;
                border-radius: 15px;
                &:hover {
                    filter: brightness(70%);
                }
            }
            >h3{
                font-family: ori2;
                text-align: center;
                margin: 20px 0;
            }
            >p{
                font-family: ori2;
                text-align: center;
                margin: 20px 0;
                font-size: 25px;
                
                &:hover{
                    color: #777777;
                }
            }
            >a{
                display: inline-block;
                width: auto;
                position: absolute;
                bottom: -50px;
                left: 40%;
            }
        }
    }
}

div.vipcustomer{
    width: 100%;
    background-color: #F0EFFC;
    
    >div.viptop{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        >div {
            width: 400px;
            text-align: center;
            padding: 30px;
            >span{
                font-size: 40px;
            }
            >h3{
                font-family: ori2;
                color: #4b4b4b;
                margin: 20px;
            }
            >p{
                font-family: ori4;
                font-size: 12px;
                color: #565656;
            }
        }
    }
    >div.vipbot{
        padding: 20px 0;
        >a{
            width: 250px;
            text-align: center;
            margin:  auto;
            font-size: 14px;
        }
    }
        
    
}

div.brands{
    width: 100%;
    margin-top: 100px;
    // background-color: #007681;
    padding: 60px;
    display: flex;
    flex-flow: column wrap;

    >div.brandstop{
        width: inherit;
        display: flex;
        flex-flow: column wrap;
        div{

            >div:nth-of-type(1){
                width: 600px;
                margin: auto;
                text-align: center;
                >h2{
                    font-family: Ori2;
                    font-size: 40px;
                    color: #3a3a3a;
                }
                >p{
                    font-family: Ori4;
                    margin: 20px;
                    font-size: 14px;
                }
            }
    
            >div:nth-of-type(2){
                margin: 50px auto;
                width: 100px;
                height: 3px;
                background-color: #80CDD0;
            }

        }
    }

    >div.brandsbot{
        width: inherit;
        display: flex;
        flex-flow: column wrap;

        >div{
            >h2{
                font-family: Ori2;
                font-size: 40px;
                color: #3a3a3a;
                text-align: center;
            }
            >div{
                display: flex;
                justify-content: center;
                flex-flow: row nowrap;
                padding: 50px;
                >img{
                    width: 200px;
                    border-radius: 50%;
                    margin: 20px;
                    cursor: pointer;
                }
            }
            >a{
                display: block;
                margin: auto;
                width: 200px;
                text-align: center;
            }
        }

    }
}

div.video{
    width: 100%;
    // margin-top: 100px;
    padding: 60px;

    >div:nth-of-type(1){
        display: block;
        width: 60%;
        margin: auto;
        >video{
            width: 100%;
        }
    }
    >div:nth-of-type(2){
        display: flex;
        justify-content: center;
        margin: 50px;
        >a{
            width: auto;
        }
    }
}

div.standards{
    width:100%;
    // padding: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    >div{
        // width: inherit;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // background-color: red;
        >div:nth-of-type(1){
            width: 600px;
            display: flex;
            flex-flow: column nowrap;
            text-align: center;
            // background-color: blue;
            >h2{
                font-family: Ori2;
                font-size: 40px;
                color: #3a3a3a;
                text-align: center;
            }
            >p{
                font-family: ori4;
                font-size: 14px;
            }
        }
        
        >div:nth-of-type(2){
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            padding: 50px;
            // background-color: green;
            >img{
                width: 150px;
                border-radius: 50%;
                margin: 20px;
                cursor: pointer;
            }
        }
        
    }
}

div.followus{
    width: 100%;
    display: flex;
    justify-content: center;
    >div{
        text-align: center;
        >p{
            font-family: Ori2;
            font-size: 25px;
        }
        >span{
            font-size: 35px;
            margin: 5px;
            cursor: pointer;
            &:hover{
                filter: brightness(60%);
            }
        }
        >span:nth-of-type(1){
            color: blue;
        }
        >span:nth-of-type(2){
            color: red;
        }
        >span:nth-of-type(3){
            color: rgb(255, 0, 55);
        }
    }
}

div.footer{
    width: 100%;
    margin-top: 50px;

    >div.footer1{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #007681;
        color:white;
        padding: 10px;
        >div:nth-of-type(1){
            width: 50px;
        }
        >div:nth-of-type(2){
            width: auto;
            >span{
                font-family: ori2;
                
            }
            
        }
        >div:nth-of-type(3){
            width: 50px;
            display: flex;
            align-items: center;
        }
    }
    >div.footer2{
        background-color: #F5F5F5;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        >div:nth-of-type(1),div:nth-of-type(2),div:nth-of-type(3){
            width: 200px;
            >ul{
                font-family: ori2;
                >li{
                    cursor: pointer;
                    font-family: ori4;
                    padding: 10px 0;
                    color: #4b4b4b;
                    font-size: 14px;
                }
            }
        }
        >div:nth-of-type(4){
            text-align: center;
            >p{
                font-size: 20px;
                font-family: ori2;
            }
            >div{
                >img{
                    margin: 10px;
                    
                }
            }
            >a{
                color: #4b4b4b;
                text-decoration: underline;
                font-family: ori4;
                font-size: 14px;
                &:hover {
                    color: #00815c;
                }
            }
        }
    }
    >div.footer3{
        width: 40%;
        margin: 50px auto;
        text-align: center;
        >p{
            font-size: 12px;
            font-family: ori4;
        }
    }
    >div.footer4 {
        margin: 50px auto;
        text-align: center;
        >p{
            font-family: ori4;
            font-size: 12px;
        }
        >span{
            display: block;
            padding: 10px;
            >a{
                margin: 0 10px;
                color: #4b4b4b;
                text-decoration: underline;
                font-family: ori4;
                font-size: 14px;
                &:hover {
                    color: #00815c;
                }

            }
        }
    }
}