$width:100%;
$height:100vh;

@font-face {
    font-family: Ori1;
    src: url(/Fonts/OriflameWebIcons.woff2);
}
@font-face {
    font-family: Ori2;
    src: url(/Fonts/sans-bold.woff2);
}
@font-face {
    font-family: Ori3;
    src: url(/Fonts/sans-condensed-bold.woff2);
}
@font-face {
    font-family: Ori4;
    src: url(/Fonts/sans-regular.woff2);
}

